<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editorName"
            icon="icons/microjava.gif"
            contributorClass="net.feichti.microjavaeditor.MJActionContributor"
            class="net.feichti.microjavaeditor.MJEditor"
            id="net.feichti.microjavaeditor.MJEditor"
            default="true">
         <contentTypeBinding
               contentTypeId="net.feichti.microjavaeditor.microjavaSource">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         name="MicroJava Document Setup Participant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="net.feichti.microjavaeditor.MJDocumentSetupParticipant"
            contentTypeId="net.feichti.microjavaeditor.microjavaSource">
      </participant>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="mj"
            id="net.feichti.microjavaeditor.microjavaSource"
            name="%microjavaSourceName"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.feichti.microjavaeditor.preferences.MJPreferencePage"
            id="net.feichti.microjavaeditor.preferences.MJPreferencePage"
            name="MicroJava">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.feichti.microjavaeditor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="net.feichti.microjavaeditor.wizards.NewProgramWizard"
            icon="icons/newprog_wiz.gif"
            id="net.feichti.microjavaeditor.wizards.new.program"
            name="%NewProgramWizard.Name"
            project="false">
         <description>
            %NewProgramWizard.Description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>

</plugin>
